.userCard {
    display: block;
    width: 500px;
    max-width: 99%;
    margin: 70px auto ;
    position: relative;
    border-top: 2px outset teal;
    border-left: 2px dotted teal;
    border-top-left-radius: 10px;
}

.h {
    margin: 20px 0;
}

.div {
    margin: 35px auto;
    margin-left: 30px;
    width: 60%;
    max-width: 300px;
    text-align: left;
}

.span {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}

.but_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.but {
    font-size: 1rem;
    min-height: 40px;
    min-width: 100px;
    background: lightcyan;
    border: 1px solid skyblue;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px lightgrey;
    transition: all 0.2s;
    cursor: pointer;
}

.but:hover {
    background: lightcyan;
    box-shadow: none;
    transform: scale(1.05);
}