.navBarReplacer {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 50px;
    width: 100%;
    padding: 5px 20px;
    margin-bottom: 40px;
    /*background: skyblue;*/
    background: teal;
    border-bottom: 3px double teal;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.navBarReplacer span {
    color: whitesmoke;
    font-size: 26px;
    margin-top: 5px;
}

.test-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pagination-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.pagination-but {
    width: 37px;
    height: 40px;
    margin: 0 10px 10px;
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
    text-align: center;
    background: lightcyan;
    box-shadow: 1px 1px;
    transition: all 0.1s ease-in;
}

.pagination-but:hover {
    border-color: darkorange;
    box-shadow: none;
    transform: translateX(1px) translateY(1px);
}

.doneQuestion {
    background: lightgreen;
}

.current-but {
    border: 2px inset darkviolet;
    padding: 8px 10px;
    border-radius: 4px;
    font-weight: bold;
}

.end-testing-but {
    width: 150px;
    height: 55px;
    color: black;
    background: lightcyan;
    padding: 2px 7px;
    margin: 10px auto;
    /*margin-top: 20px;*/
    transition: all 0.2s;
    border: 1px double teal;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 teal;
    font-size: 16px;
}

.end-testing-but:hover {
    box-shadow: none;
    border-color: darkorange;
    transform: translateY(1px);
}